<!-- HEADER -->
<app-header></app-header>

<main class="shriners contenedor">
<!-- Seccion 1 -->
 <app-seccion1></app-seccion1>

<!-- Seccion 2 -->
  <app-seccion2></app-seccion2>

<!-- Seccion 3 -->
<app-seccion3></app-seccion3>

<!-- Seccion 4 -->
<app-seccion4></app-seccion4>

<!-- Seccion 5 -->
<app-seccion5></app-seccion5>

<!-- Seccion 6 -->
<app-seccion6></app-seccion6>

<!-- Seccion 7 -->
<app-seccion7></app-seccion7>

<!-- Seccion 8 -->
<section #asSection8 class="shriners--8">
  <app-form></app-form>
  <app-map></app-map>
</section>

</main>
<!-- FOOTER -->
<app-footer></app-footer>
