<footer class="footer contenedor">
  <picture>
    <img src="../assets/logo.png" alt="logo">
  </picture>

  <swiper-container loop="true" autoplay="true" centeredSlides="true" effect="flip" class="partnerts">
    <swiper-slide style="display: flex; place-items: center;">
      <img loading="lazy" width="100" src="assets/patrocinantes/laserairlines.png" alt="patrocinante">
      <img loading="lazy" width="100" src="assets/patrocinantes/buenoshumos.png" alt="patrocinante">
    </swiper-slide>
    <swiper-slide style="display: flex; place-items: center;">
      <img loading="lazy" width="100" src="assets/patrocinantes/kitkat.png" alt="patrocinante">
      <img loading="lazy" width="100" src="assets/patrocinantes/nestea.png" alt="patrocinante">
    </swiper-slide>
    <swiper-slide style="display: flex; place-items: center;">
      <img loading="lazy" width="100" src="assets/patrocinantes/nescafe.png" alt="patrocinante">
    </swiper-slide>
  </swiper-container>

  <div class="footer__info">
    <p>Redes Sociales</p>
    <ul class="footer__redes">
      <li><i class="fa-brands fa-whatsapp"></i></li>
      <li><a href="https://www.instagram.com/abousaadvenezuela/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </div>
</footer>
