<section class="shriners--6">
  <article class="shriners--6__articulo">
    <h2>Título del Blog</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reprehenderit soluta accusantium, possimus consequatur suscipit adipisci deserunt, doloremque debitis dolorum praesentium iusto in quisquam animi aliquam sed, aut delectus aspernatur.</p>
    <a (click)="this.navigate('blog/entrada/1')" class="btn primario">Ver Artículo</a>
  </article>
  <article class="shriners--6__articulo">
    <h2>Título del Blog</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reprehenderit soluta accusantium, possimus consequatur suscipit adipisci deserunt, doloremque debitis dolorum praesentium iusto in quisquam animi aliquam sed, aut delectus aspernatur.</p>
    <a (click)="this.navigate('blog/entrada/1')" class="btn primario">Ver Artículo</a>
  </article>
  <article class="shriners--6__articulo">
    <h2>Título del Blog</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reprehenderit soluta accusantium, possimus consequatur suscipit adipisci deserunt, doloremque debitis dolorum praesentium iusto in quisquam animi aliquam sed, aut delectus aspernatur.</p>
    <a (click)="this.navigate('blog/entrada/1')" class="btn primario">Ver Artículo</a>
  </article>
</section>
