<section class="shriners--5">
  <article>
    <h2>Productos</h2>
    <ul>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
  </article>
  <picture>
    <source srcset="assets/webp/grupo_complet.webp" alt="grupo">
    <img src="assets/grupo_complet.jpg" alt="grupo">
    <div class="shriners5__circle"></div>
    <div class="shriners5__rectangule"></div>
  </picture>
 </section>
