<section class="shriners--3">
  <picture>
    <source srcset="assets/webp/testimonio.webp" type="image/webp">
    <img loading="lazy" src="assets/testimonio.jpg" alt="testimonio">
  </picture>
  <div class="shriners--3__enlace">
    <p>Nuestros pacientes nos inspiran</p>
    <a href="https://www.shrinerschildrens.org/es" target="_blank">Shriners Internacional<i class="fa-solid fa-arrow-right"></i></a>
  </div>
  <div class="shriners--3__articulos">
    <article>
      <h3>Integridad</h3>
      <p>Ser la principal organización fraternal para hombres de buen
        carácter, desarrollar programas y servicios atractivos y de calidad
        para sus miembros.</p>
    </article>
    <article>
      <h3>Compromiso</h3>
      <p>Fomentar la superación personal a través del liderazgo, la
        educación, la perpetuación de los valores morales y la
        participación comunitaria.</p>
    </article>
    <article>
      <h3>Servir</h3>
      <p>Servir a la humanidad a través de los recursos de su filantropía,
        Shriners Children's en un espíritu de
        diversión, compañerismo y camaradería social.</p>
    </article>
  </div>
</section>
