<section class="shriners--4">
  <swiper-container style="width: 99.9999%;" class="carrusel" loop="true" autoplay="true" pagination="true" navigation="true" speed="500" slides-per-view="1">
    <swiper-slide>
      <div class="fondo"></div>
      <picture>
        <source srcset="assets/webp/testimonio.webp" type="image/webp">
        <img loading="lazy" src="assets/testimonio.jpg" alt="testimonio">
      </picture>
    </swiper-slide>
    <swiper-slide>
      <div class="fondo"></div>
      <picture>
        <source srcset="assets/webp/grupo4.webp" type="image/webp">
        <img loading="lazy" src="assets/grupo4.jpg" alt="testimonio">
      </picture>
    </swiper-slide>
    <swiper-slide>
      <div class="fondo"></div>
      <picture>
        <source srcset="assets/webp/grupo_persons.webp" type="image/webp">
        <img loading="lazy" src="assets/grupo_persons.jpg" alt="testimonio">
      </picture>
    </swiper-slide>
    <swiper-slide>
      <div class="fondo"></div>
      <picture>
        <source srcset="assets/webp/testimonio2.webp" type="image/webp">
        <img loading="lazy" src="assets/testimonio2.jpg" alt="testimonio">
      </picture>
    </swiper-slide>
    <swiper-slide>
      <div class="fondo"></div>
      <picture>
        <source width="100" srcset="assets/webp/torn.webp" type="image/webp">
        <img loading="lazy" width="100" src="assets/torn.jpg" alt="testimonio">
      </picture>
    </swiper-slide>
  </swiper-container>
</section>
