<form class="formulario">
  <h2>Contactanos</h2>
  <p>Rellena el siguiente formulario para contactarte con nosotros</p>
  <div class="contacto__campo">
    <input type="text" name="firstname" id="firstname" placeholder="Nombre">
    <input type="text" name="lastname" id="lastname" placeholder="Apellido">
  </div>
  <select name="city" id="city">
    <option value="">-- Seleccione un Estado --</option>
    <option value="caracas">Caracas</option>
    <option value="valencia">valencia</option>
    <option value="aragua">Aragua</option>
    <option value="zulia">Zulia</option>
  </select>
  <div class="contacto__campo">
    <input type="text" name="email" id="email" placeholder="E-Mail">
  </div>
  <div class="contacto__campo">
    <input type="text" name="telf" id="telf" placeholder="Telefono">
  </div>
  <div class="contacto__campo">
    <textarea name="message" id="message" placeholder="Mensaje"></textarea>
  </div>
  <div class="contacto__submit">
    <button class="btn azul">Enviar</button>
    <p>Todos los Campos son Requerido</p>
  </div>
</form>
