@use '../../../../scss/main/variables' as v;
@use 'sass:color';

.formulario {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 1.5rem;
  @include v.telf() {
    width: 95%;
  }
  h2 {
    color: v.$primario;
    border-bottom: 2px solid v.$primario;
    padding-bottom: .5rem;
    padding-left: 1rem;
    text-align: center;
  }
  p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .contacto__campo {
    width: 100%;
    position: relative;
    input, textarea {
      width: 100%;
      border: none;
      outline: none;
      padding: 1rem;
      background-color: v.$gris;
      border-radius: 1rem;
    }
  }
  textarea {
    height: 20rem;
    resize: none;
  }
  select, option {
    border: 1px solid v.$gris;
    padding: 1rem;
    background-color: v.$gris;
    border-radius: 1rem;
  }
  :nth-child(3) {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  :last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1rem;
    button {
      width: 50%;
    }
  }
}
