@use '../../../scss/main/variables' as v;
@use 'sass:color';
// Seccion 2
.shriners--2 {
  margin: 2rem auto;
  margin-bottom: 0;
  position: relative;
  height: 20rem;
  @include v.telf() {
    height: 15rem;
  }
  article {
    display: flex;
    justify-content: flex-end;
    .circles {
      position: absolute;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
    :nth-child(1) {
      right: 30%;
      top: 10%;
      border: 1px solid v.$primario;
      color: v.$primario;
    }
    :nth-child(2) {
      right: 17%;
      top: 25%;
      border: 1px solid v.$amarillo;
      color: v.$amarillo;
    }
    :nth-child(3) {
      right: 5%;
      top: 0%;
      border: 1px solid v.$azul;
      color: v.$azul;
    }
  }
  picture {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    position: absolute;
    :nth-child(2) {
      width: 90%;
      height: 3px;
    }
    :nth-child(3) {
      width: 80%;
      height: 3px;
    }
    :nth-child(4) {
      width: 70%;
      height: 3px;
    }
    :nth-child(5) {
      width: 60%;
      height: 3px;
    }
  }
}
// Telefono
@include v.telf() {
  .shriners--2 {
    margin-top: 0rem;
    article {
      display: none;
    }
    picture {
      width: 100%;
    }
  }
}
